__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.git
.gitignore
.env
*.sqlite3
db.sqlite3
.idea
.vscode
*.log
staticfiles/
media/
*.md
.replit
replit.nix
uv.lock
pyproject.toml
attached_assets/
