services:
  - type: web
    name: portfolio-django
    runtime: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: "False"
      - key: DATABASE_URL
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
